<div class="col-4">
    <br/>  
    <div>
        <label>Username</label>
        <input type="text" class="form-control" [(ngModel)]="signInModel.username"/>
    </div>
  
    <div>
        <label>Password</label>
        <input type="password" class="form-control" [(ngModel)]="signInModel.password"/>
    </div>
  
    <hr/>

    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  
    <input type="button" class="btn btn-success" value="Sign in" (click)="login()"/>
  </div>